.menu_container {
  margin: 34px 0;
  padding: 0 24px;
}

.menu_container .button_link {
  text-decoration-line: none;
  text-decoration: none;
}

.menu_container .button_link a {
  padding: 4px 18px;
}

.menu_container button {
  margin-bottom: 24px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card_container {
  max-width: 400px;
  width: 100%;
}
