.menu_container {
  padding: 24px;
  background-color: #f1f1f1;
}

.menu_container .button_link {
  text-decoration-line: none;
  text-decoration: none;
}

.menu_container .button_link a {
  padding: 4px 18px;
}

.menu_container button {
  margin: 24px 0;
}

.card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card_container {
  max-width: 400px;
  width: 100%;

  box-shadow: 0 3px 10px rgba(218, 233, 82, 0.2);
  background-color: white;
  border-radius: 12px;
}
