.card {
  border-radius: 12px;
  position: relative;
}

.card_content {
  padding: 16px 32px;
  flex: 4 1 40ch;
}

.item {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.item_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item_span {
  display: inline-block;
  margin: 4px;
  font-size: 0.875em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.02em;
  text-align: start;
}

.edit_btn {
  margin-top: 24px;
  display: flex;
  align-items: center;
  padding: 6px 14px 6px 12px;
  border-radius: 4px;
  border: 2px solid currentColor;
  background: none;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: unset !important;
}
.edit_btn svg {
  margin-right: 6px;
}

.close_button {
  height: 18px;
  width: 18px;
  right: -14px;
  top: -14px;
  background-color: #dae952;
  font-weight: bold;
}

.button_group {
  display: flex;
  align-items: center;
  gap: 24px;
}

.button_group button {
  max-width: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
